body {
	width: auto;
	margin: 0 auto;
	font-family: 'Hind', sans-serif;
}

.background-top {
	position: relative;
	background-image: linear-gradient(to top, white 0%, transparent 15%), url(../images/couple.jpg);
	background-size: cover;
	background-position: center center;
	max-width: 100vw;
	max-height: 100vh;
	min-height: 800px;
}

.container {
	position: relative;
	max-width: 1300px;
	margin:0 auto;
}


.header {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	padding: 3.25rem 2.5rem 0rem 2.5rem;
	justify-content: space-between;
	align-items: center;
	color: #4e4e4e;
}

.header>a {
	font-size: 1.75rem;
	font-weight: 700;
	text-decoration: none;
	color: #2f2f2f;
	transition: .3s;
}

.header>a:hover {
	color: #565f86;
} 

.sign-up {
	font-size: 1rem;
    font-weight: 600;
} 

.sign-up>a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	padding: 0.7rem 1.875rem;
	margin-left: 1rem;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 0.3rem;
	color: black;
	font-size: 1rem;
    font-weight: 600;
	transition: .3s ease-in-out;
	vertical-align: middle;
}

.sign-up>a:before {
	content: "";
	background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,1));
	height: 50px;
	width: 50px;
	position: absolute;
	top: -8px;
	left: -75px;
	transform: skewX(-45deg);
}

.sign-up>a:hover {
	background-color: #565f86;
	color: white;
	border:1px solid #565f86;
}

.sign-up>a:hover:before {
	left:135px;
	transition: .4s ease-in-out;
}

.flex-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 28.4375rem;
	min-height: 50rem; 
	margin: 0 10% 0 10%;
	justify-content: center;
}

.reg-wrapper {
}


.reg-caption {
	font-size: 2.5rem;
	padding: 0em 3.7rem 2.375rem 3.7rem;
	color: #4e4e4e;
	font-weight: 600;
	text-align: center;
}

.reg-head {
	background-color: #565f86;
	text-align: center;
	padding: 1.45em 0em;
    color:white;
	font-size: 1.125rem;
	font-weight: 700;
	border-top-right-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
	box-shadow: 5px 0px 28px -5px rgba(0,0,0,0.29);
}

.reg-body { 
    padding: 2.5rem 3.9rem 5rem 3.9rem;
    height: 240px;
	border-bottom-right-radius:0.3rem;
	text-align: center;
    vertical-align: middle;
	background-color:white; 
	border-bottom-left-radius:0.3rem; 
	box-shadow:5px 5px 28px -5px rgba(0,0,0,0.29);
}

.text {
	font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1.4rem;
}

.reg-form {
	font-size: 1rem;
    font-weight: 500;
	text-align: left;
    line-height: 4rem;
    margin-bottom: 0.8rem
}

select,input {
    text-overflow: ellipsis;
    transition:.3s;
	padding: 0.5em;
	background-color: #f1f1f1;
	border: none; 
}

select {
	width: 7.5rem;
	cursor: pointer;
}

input {
	font-weight: 500;
    width: 9.75rem;
}

.reg-form select:hover {
	background-color: #DEEAFC;
}

.reg-form input:hover {
	background-color: #DEEAFC;
}

.reg-continue {
    display: inline-block;
	font-size: 1rem;
	font-weight: 600;
    letter-spacing: 1px;
	padding: 0.75rem 2.125rem;
	color: white;
	background-color: #565f86;
	border:none;
    transition: .3s
}

.reg-continue:hover {
	background-color: #7d86ac;
	cursor: pointer;
}

.main {
  color: #4e4e4e;
  margin-top: 3.125rem;
}

/*-first section-*/

.slick-arrow:hover {
  box-shadow: 0px 0px 30px rgba(125,134,172,0.8);
  border-radius: 4px;
  background-color: rgba(125,134,172,0.22);
  transition: 0.5s;
}

.background-middle {
  background-color: transparent;
  background-size: cover;
  max-width: 100vw;
  max-height: 50vh;
  text-align: center;
  min-height: 280px;
    
}


.instructions {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 5rem;
  margin-bottom: 9.5rem;
}


.block>h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #363636;
}

.block_text {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;

}

.steps {
    font-size: 0.9375rem;
    font-weight: 600;
    text-align: center;
    max-width: 25%;
    word-wrap: break-word;
}


.steps img {
	display: inline-block;
	width: 42px;
	height: 42px;
}

.arrow{
  display: none;
}
.hide {
  display: none;
}



h3 {
    padding:1.5rem 0rem 0rem;
    color: #565f86;
    font-size: 1.25rem;
}

/*1st slider*/
.second-section {
  background-image: linear-gradient(to bottom, white 2%, transparent 15%), url(../images/date.jpeg);
  background-size: cover;
  background-position: center center;
  max-height: 50vh;
  min-height: 700px;
  max-width: 100vw;
    text-align: center;
}

.container-slider {
    max-width: 1300px;
    margin: 0 auto;
    text-align: left
}


.body-slide {
  max-width: 100%;
}

.your-class {
  box-sizing: border-box;
  display: flex;
    color: #363636;
  max-width: 1300px;
    padding-top: 5%;
}

.feedback {
    outline: none;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    padding: 0rem 0.5rem;
}

.wrapper1 {
  padding-top: 1rem;
}

.photo {
    float: left;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border:1px solid #e1e1e1;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
}

.photo1 {
  background-image: url(../images/1.png);
}

.photo2 {
  background-image: url(../images/2.jpg);
}

.photo3 {
  background-image: url(../images/3.jpg);
}

.names {
  line-height: 1.2em;
}

.strong {
  font-size: 0.875rem;
  font-weight: 800;
}
/* 1st slider */
/*--first section--*/

/*--second section--*/
/* second slider*/
.stories {
  color: #363636;
  text-align: center;
  padding-top: 5rem;
}

.happy {
  outline: none;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: center;
  padding-top: 3.75rem;
  font-size: 1rem;
}

.autoplay {
  background: transparent;
  background-size: cover;
  background-position: center center;
}

.under {
  display: inline-block;
  color: gray;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 1.5rem;
  width: 100%;
}

.slider-wrapper {
  padding: 0% 2% 0% 8%;
}

.slider-text {
  line-height: 1.2rem;
  text-align: left;
  font-weight: 600;
  font-size: 1.375rem;
}

.stories_slider {
  max-width: 100vw;
}

.demo {
  display: inline-block;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  transition:.3s;
}

.opacity{
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #9badf7;
}

.demo:hover {
  opacity: 1; 
}


/* 2nd slider */


.follow_about{
	background-color: #384371;
}

.follow_us{
	max-width: 100vw;
	border-bottom:1px solid #6a7295;
}

.follow_links {
	display: flex;
	padding: 3.5rem 0em;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	color: white;
	font-weight: 500;
	font-size: 1.625rem;
	text-align: center;
	background: none;
	vertical-align: middle;
	max-width: 32.5rem;
	margin: 0 auto;
	box-sizing: border-box;
}

.st_child {
	display:inline;
}


.follow_links>a>img {
	width: 20px;
	height: 20px;
	opacity: 0.6;
	transition: .3s;
}

.follow_links>a>img:hover {
	opacity: 1;
}

.horizontal-click {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 57.5rem;
	padding: 2rem 0.5rem 3rem 0.5rem;
	margin: 0 auto;
}

#vkl1, #vkl2, #vkl3, #vkl4, #vkl5 {
	display: none;
}

label {
	display: block;
	color:white;
	font-weight: 600;
	font-size: 0.875rem;
	height: 1em;
	margin-bottom:0.5em;
}

.ft_text {
	display: block;
	max-width: 180px;
	height: auto;
	word-wrap: break-word;
}

.ft_text>a {
	display: inline-block;
	text-decoration: none;
	color:  #D9E2FF;
	font-size: 0.75rem;
	line-height: 1.6em;
	transition: .3s;
}


.ft_text a:hover {
	color: white;
} 
@media screen and (max-device-width:930px) {
	
label:last-child {
	padding-top: 30px;}
}

label {
	padding-top: 20px;
}


#yak1 {
	display: hidden;
}

.accordion {
    display: none;
}

.panel {
    display: none;
}



