body {
	width: 100vw;
	margin: 0 auto;
    font-family: 'Hind', sans-serif;
}

a {
	text-decoration: none;
}

/*V--HEADER--V*/
.background-top {
	position: relative;
	background-image: linear-gradient(to top, white 0%, transparent 10%), url(../images/couple.jpg);
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;
}

@media all and (orientation: landscape){
	.background-top {
		min-height: 380px;
	}
}


.container {
	position: relative;  /*position:absolute - при десктопной версии*/
	max-width: 1300px;
	margin-left:auto;
    margin-right:auto;
}


.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #4e4e4e;
	vertical-align: middle;
	align-items: center;
	height: auto;
	position: relative;
	left: 0;
	right: 0;
	padding: 1rem 0.2rem 3rem 0.2rem;;
}

.header>a {
	font-size: 1.2rem;	font-weight: 600;
	text-decoration: none;
	color: #2f2f2f;
	transition: .3s;
}


.header>a:active {
	color: #0000D4;
} 



.sign-up {
	font-size: 0.8rem;
	font-weight: 600;
} 

.sign-up>a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	padding: 0.5rem 1.3em;
	margin-left: 0.5em;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 0.5em;
	color: black;
	font-size: 0.8rem;
	transition: .3s ease;
	vertical-align: middle;

}

.sign-up>a:before {
	content: "";
	background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
	height: 50px;
	width: 50px;
	position: absolute;
	top: -8px;
	left: -75px;
	transform: skewX(-45deg);
}

.sign-up>a:focus {
	background-color: #565f86;
	color: white;
	border:1px solid #565f86;
}

.sign-up>a:focus:before {
	left:120px;
	transition: 1s ease;
}





.flex-container {
	padding: 2%;
	display: flex;
	margin: 0 auto;
	max-width: 400px;
	justify-content: center;
	height: auto;
	flex-direction: column; 
    align-items: center;
}

.reg-wrapper {
}

.reg-caption {
	font-size: 1.7rem;
	padding: 0em 1em 0.1em 1em;
	color: #4e4e4e;
	font-weight: 600;
	text-align: center;
}

.reg-head {
	background-color: #565f86;
	text-align: center;
	color: white;
	font-size: 1rem;
	padding: 1.2rem 0rem;
	font-weight: bolder;
	border-top-right-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
}

.reg-body { 
	font-weight: 500;
	border-bottom-right-radius:0.3rem;
	text-align: center;
	background-color:white; 
	vertical-align: middle;
	border-bottom-left-radius:0.3rem; 
	padding: 1rem;
}

.text {
	font-size: 1em;
	line-height: 1em;
}

.reg-form {
	line-height: 3.5em;
	font-size: 1rem;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}

select,input {
	font-weight: 500;
	padding: 0.5em;
	background-color: #E6E7F9;
	border: none; 
}

select {
	border:none;
	cursor: pointer;
	max-width: 35%;
}

input {
	max-width: 40%;
}

select:focus,input:focus {
	background-color: #BBFFEA;
}

.reg-continue {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 2em;
	color: white;
	background-color: #565f86;
	border:none;
	padding: 0.75rem 2.125rem;
}

@media screen and (max-device-height:420px) {
	.header {
	padding: 0.5rem;
	}
	
	.reg-head {
		padding: 1rem 0.5rem;
	}

	.reg-form {
		padding: 0px;
		line-height: 3.5em;
	}

	.reg-continue {
		font-size: 0.8rem;
		margin: 0;
	}

}
/*^--HEADER--^*/
/*V--MAIN--V*/
.main {
	color: #4e4e4e;
}

.slick-arrow {
	display: none !important;
}

.background-middle {
	background-size: cover;
	width: 100vw;
	text-align: center;
	background-color: transparent;
	height: auto;
}

.instructions {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	max-height: 564px;
	padding:2rem 1.5rem;
	justify-content: space-around;
	align-items:stretch;
}

.block>h2 {
	font-weight: 600;
}



.steps {
	font-size: 0.9rem;
	text-align: center;
	vertical-align: middle;
	max-height: 9rem;
	width: 26%;
	word-wrap: break-word;
 }

.arrow>img {
	display: inline-block;
	width: 2.5rem;
}

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
}

#order6 {
	transform: rotate(90deg);
	order: 6;
}

#order7 {
	order: 9;
}

#order8 {
	transform: rotate(180deg);
	order: 8;
}

#order9 {
	order: 7;
}
@media all and (orientation: landscape){
	.instructions {
		padding: 0.5rem 3rem 2rem 3rem;
	}
}


.steps h3 {
	margin:.5rem 0;
	color: #565f86;
}

.second-section {
	background-image: linear-gradient(to bottom, white 2%, transparent 15%), url(../images/date.jpeg);
	background-size: cover;
	background-position: center center;
	height: auto;
	width:100vw;
	text-align: center;
}

.container-slider {
	box-sizing: border-box;
	text-align: left;
	max-width: 1300px;
    margin: 0 auto;
}

.body-slide {
	max-width: 100vw;
}

.your-class {
	display:flex;
	width: 100vw;
	margin: 0 auto;
	padding: 4% 2% 40% 2%;
	box-sizing: border-box;
    color: #363636;
}

.feedback {
	outline: none;
	display: inline-block;
	font-size: 0.8rem;
    line-height: 1.2em;
    font-weight: 500;
    padding: 0rem 0.5rem;
}

.wrapper1{
	padding-top:25px;    
}
.photo {
	float: left;
	margin-right: 10px;
	width: 36px;
	height: 36px;
	    border:1px solid #e1e1e1;
    border-radius: 3px;
	background-position: center center;
	background-size: cover;
}

.photo1{
  background-image: url(../images/1.png);
}

.photo2 {
  background-image: url(../images/2.jpg);
}

.photo3 {
  background-image: url(../images/3.jpg);
}

.names {
	vertical-align: middle;
  line-height: 1.5em;
}

@media all and (orientation: landscape){

.your-class {
	padding: 4% 2% 15% 2%;
}

.names {
	color: white;
}
}

.strong {
  font-weight: 700;
}



/*2nd slider*/
.stories{
  color: #363636;
  text-align: center;
  padding-top: 1rem;
}

.happy {
	outline: none;
	display: inline-block;	
	margin: 0;
	vertical-align: top;
	text-align: center;
	font-size: 1rem;
}

.autoplay {
  background:transparent;
  background-size: cover;
  background-position: center center;
}

.under{
	display: inline-block;
	color:gray;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.slider-wrapper {
  padding: 1.5rem 0.5rem 1rem 0.5rem;    
}

.slider-text{
  line-height: 1em;
  text-overflow: ellipsis;
  text-align:left; 
  font-weight: 600;
  font-size: 1.2rem;
}

@media all and (orientation: landscape){
	.slider-text {
padding: 0rem 2rem;
	}
	}


.stories_slider {              
	max-width: 100vw;
}



.demo {
 display: inline-block;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
}

.opacity{
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #9badf7;
  transition: .3s;
}

.demo:focus {
  opacity: 1; 
}


/*^--MAIN--^*/
/*V--FOOTER--V*/

.follow_about{
    position: relative;
	background-color: #384371;
	width: 100vw;
}

.follow_us{
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: space-around;
	border-bottom:1px solid #6a7295;
	line-height: 2em;
}

.follow_links {
	color: white;
	font-weight: 600;
	font-size: 1.3rem;
	text-align: center;
	background: none;
	margin: 1em 0em;
}

.st_child {
	display: block;
	margin: 0em auto 1em auto;
}

.follow_links>a>img {
	margin: 0em 1em 0em 1em;
	opacity: 0.7;
}

.follow_links>a>img:hover {
	opacity: 1;
	transition: .3s;
}

.follow_links>a>img:not(:hover) {
    transition: .3s;
}


footer {
	width: 100vw;
}



button.accordion {
    background-color: rgb(37, 45, 82);
    color:whitesmoke;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 600;

}

button.accordion.active, button.accordion:active {
    background-color: #1850A4;
    color: #FFC86B;
}

div.panel {
    background-color:#242F5C;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #6a7295;
}

.panel>a {
    color: #F3DFAE;
    text-decoration: none;
    display: inline-block;   
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    word-wrap: break-word;
    font-size: 0.9rem;
}


.horizontal-click {
    display: none;
}

#yak1 {
	display: inline-block;
	width: 100%;
	height: 0.5rem;
	background-color: #384371;
}
/*^--FOOTER--^*/